/* Global Styles */

* {

    margin: 0;

    background-color: #a517ba;

    padding: 0;

}


body {

    font-family: sans-serif;

}


/* Navbar Styles */

#nav-bar {

    position: sticky;

    top: 0;

    z-index: 10;

}


.navbar {

    background-image: linear-gradient(to right, #a517ba, #a517ba);

    padding: 0 !important;

}


#nav-bar .navbar-brand img {

    width: 200px;

    height: 200px;

}


.navbar-nav li {

    padding: 0 10px;

}


.navbar-nav li a {

    color: #fff !important;

    float: right;

    text-align: left;

    font-weight: 600;

}


.fa-bars {

    color: #fff;

    font-size: 30px !important;

}


.navbar-toggler {

    outline: none !important;

}


/* Banner Section */

#banner {

    background-image: linear-gradient(to right, #a517ba, #a517ba);

    color: #fff;

    padding-top: 1%;

}


.promo-title {

    font-size: 40px;

    font-weight: 600;

    margin-top: 100px;

}


.click-btn {

    width: 45px;

    margin: 20px;

}


#banner a {

    color: white;

    text-decoration: none;

}


#banner .img-fluid {

    max-width: 80%; /* Keep the image responsive */

    height: auto; /* Maintain aspect ratio */

    width: 300px; /* Set a specific width for smaller size */

    border-radius: 10px; /* Optional: Add rounded corners for aesthetics */

    margin: 20px auto; /* Center the image vertically and horizontally */

    display: block;

}


.row.align-items-center {

    display: flex;

    justify-content: center;

    align-items: center;

}


/* Skills Section */

#skills {

    padding: 80px;

    color: white;


}


.skills-img {

    width: 100px;

    margin-top: 20px;

}


.skills {

    padding: 20px;

}


.text-center {

    text-align: center;

}


@media (max-width: 768px) {

    /* Adjust for smaller screen sizes */

    #banner .row {

        flex-direction: column;

    }


    #banner .col-md-6 {

        text-align: center;

    }


    .skills-img {

        width: 80px;

    }

}

.skills h4{

    padding: 5px;

    margin-top: 25px;

    text-transform: uppercase;

}